version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"     
      - "15672:15672"    
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - microservices-network

  message_broker:
    image: livia994/message-broker:latest
    container_name: message_broker_container
    platform: linux/amd64
    depends_on:
      - rabbitmq
    ports:
      - "8001:8001"
    environment:
      - PYTHONUNBUFFERED=1
      - RABBITMQ_HOST=rabbitmq
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  characters:
    image: livia994/characterservice:latest
    container_name: characters_container
    platform: linux/amd64
    depends_on:
      message_broker:
        condition: service_healthy
      mongo:
        condition: service_started
    environment:
      - MESSAGE_BROKER_URL=http://message_broker:8001
      - MONGO_URI=mongodb://mongo:27017/characterDB
      - PORT=4002
    ports:
      - "4002:4002"
    networks:
      - microservices-network

  town:
    image: livia994/townservice:latest
    container_name: town_container
    platform: linux/amd64
    depends_on:
      message_broker:
        condition: service_healthy
      mongo:
        condition: service_started
    environment:
      - MESSAGE_BROKER_URL=http://message_broker:8001
      - MONGO_URI=mongodb://mongo:27017/townDB
      - PORT=4001
    ports:
      - "4001:4001"
    networks:
      - microservices-network

  mongo:
    image: mongo:4.4
    container_name: mongo_container
    platform: linux/amd64
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge

volumes:
  mongo_data:
  rabbitmq_data:
